.app__skill {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;

  @media (min-width: 800px) {
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
  }
}
.app__skills-container {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  height: 100px;
  @media (min-width: 800px) {
    width: 100px;
  }
}

.app__skills-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app__skills-item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    @media (min-width: 800px) {
        width: 120px;
        height: 120px;
      }
   
    
  }
  img {
    width: 80%;
    object-fit: contain;
  }
}
