@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #050133;
  --secondary-color: #ffff;
  --black-color: #0000;
  --lightGray-color: #e4e4e4;
  --gray-color: #545b66;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --violet-color: #1d147a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  max-width: 100% !important;
  overflow-x: hidden;


}